.UserFormContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 12px;
}

.succesful-message {
  color: green;
}
.error-message {
  color: red;
}
